{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Dear WORLD! Welcome to My Blog 🏠</h1>
<h5>Discover Stories, Ideas & Insights That Matter</h5>
<h3>Feel free to explore the site!</h3>
<h4> Whether it's a deep dive into current events, personal reflections, or inspiring journeys — <br>this space is built for readers who value meaningful content. Explore articles across various topics, <br>from politics and society to creativity and culture.</h4>
<h3>📝 Start reading. Start sharing. Start thinking.</h3>
<h3>👉 Ready to share your voice? [Create a Post] or [Explore Categories]</h3>
<p>Check out my <a href="about">About</a> page</p>
<p>Check out my <a href="/users/register/">Register a new user</a> page</p>
<p>Check out my <a href="/users/login/">User Login</a> page</p>
{% endblock %}
